lib/flows/weishaupt.json
[{"id":"eb19c569.14e638","type":"mqtt-broker","broker":"www.weinreich.org","port":"1883","clientid":""},{"id":"209c9967.df6366","type":"inject","name":"28-000006b0dd88","topic":"home/heizung/zuluft","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":283,"y":137,"z":"8438164b.7bc7e8","wires":[["28cbd5e0.d7342a"]]},{"id":"cf68e7d2.309718","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"eb19c569.14e638","x":1094,"y":185,"z":"8438164b.7bc7e8","wires":[]},{"id":"97a88baa.685778","type":"change","name":"","rules":[{"t":"set","p":"retain","to":"true"}],"x":921,"y":184,"z":"8438164b.7bc7e8","wires":[["cf68e7d2.309718"]]},{"id":"533f6b7f.acc094","type":"debug","name":"","active":true,"console":"false","complete":"true","x":243,"y":743,"z":"8438164b.7bc7e8","wires":[]},{"id":"28cbd5e0.d7342a","type":"1-Wire","identifier":"28-000006b0dd88","name":"zuluft","format":"1","x":463,"y":137,"z":"8438164b.7bc7e8","wires":[["5b58a45.fa4a75c","293afd33.d6c502"]]},{"id":"a8de0ee5.5721f","type":"inject","name":"28-000006b11f9c","topic":"home/heizung/speicher","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":281,"y":214,"z":"8438164b.7bc7e8","wires":[["1b3b737.fe4c48d"]]},{"id":"1b3b737.fe4c48d","type":"1-Wire","identifier":"28-000006b11f9c","name":"speicher","format":"1","x":466,"y":214,"z":"8438164b.7bc7e8","wires":[["5b58a45.fa4a75c","293afd33.d6c502"]]},{"id":"cbf64ac2.3409b8","type":"inject","name":"28-000006b0da25","topic":"home/heizung/vorlaufhk1","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":278,"y":282,"z":"8438164b.7bc7e8","wires":[["e82b30ec.17d4d"]]},{"id":"e82b30ec.17d4d","type":"1-Wire","identifier":"28-000006b0da25","name":"vorlauf-hk","format":"1","x":469,"y":282,"z":"8438164b.7bc7e8","wires":[["5b58a45.fa4a75c","293afd33.d6c502"]]},{"id":"bc96faf8.436908","type":"inject","name":"28-000006b0257d","topic":"home/heizung/vorlaufww","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":274,"y":352,"z":"8438164b.7bc7e8","wires":[["4c538b50.b3ac74"]]},{"id":"4c538b50.b3ac74","type":"1-Wire","identifier":"28-000006b0257d","name":"vorlauf-ww","format":"1","x":472,"y":352,"z":"8438164b.7bc7e8","wires":[["5b58a45.fa4a75c","293afd33.d6c502"]]},{"id":"b18cb162.4e735","type":"inject","name":"28-000006b0d076","topic":"home/heizung/ruecklauf","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":282,"y":411,"z":"8438164b.7bc7e8","wires":[["a7272fc8.58d8d"]]},{"id":"a7272fc8.58d8d","type":"1-Wire","identifier":"28-000006b0d076","name":"ruecklauf","format":"1","x":466,"y":411,"z":"8438164b.7bc7e8","wires":[["5b58a45.fa4a75c","293afd33.d6c502"]]},{"id":"5b58a45.fa4a75c","type":"function","name":"ToJson","func":"msg.payload = {\"temperature\": msg.payload,\"ts\": Math.floor(Date.now() / 1000)};\n\nreturn msg;","outputs":1,"x":745,"y":183,"z":"8438164b.7bc7e8","wires":[["97a88baa.685778"]]},{"id":"85fa7b26.7a0588","type":"http request","name":"InfluxDB","method":"POST","ret":"txt","url":"http://192.168.1.2:8086/write?u=user&p=password&db=test","x":1098,"y":351,"z":"8438164b.7bc7e8","wires":[[]]},{"id":"293afd33.d6c502","type":"function","name":"Sensor to InfluxDB","func":"var arr = msg.topic.split(\"/\");\n\nmsg.payload = {\n    \"database\": \"test\",\n    \"retentionPolicy\": \"default\",\n    \"points\": [\n        {\n            \"measurement\": \"temp\",\n            \"tags\": {\n                \"location\": arr[0],\n                \"device\": arr[1],\n                \"sensor\": arr[2]\n            },\n            \"fields\": {\n                \"value\": msg.payload\n            }\n        }\n    ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":857,"y":402,"z":"8438164b.7bc7e8","wires":[["85fa7b26.7a0588"]]},{"id":"c42c3df7.38cb78","type":"inject","name":"Weishaupt Werte","topic":"home/weishaupt","payload":"{\"prot\":\"coco\",\"telegramm\":[[10,0,1,373,0,0,0,0],[10,0,1,138,0,0,0,0],[10,0,1,2572,0,0,0,0],[10,0,1,2,0,0,0,0],[10,0,1,3101,0,0,0,0],[10,0,1,325,0,0,0,0],[10,0,1,12,0,0,0,0],[10,0,1,14,0,0,0,0]]}","payloadType":"string","repeat":"10","crontab":"","once":false,"x":254,"y":551,"z":"8438164b.7bc7e8","wires":[["10502ac0.f1777d"]]},{"id":"10502ac0.f1777d","type":"http request","name":"Query WCM-COM","method":"POST","ret":"obj","url":"http://192.168.1.20/parameter.json","x":447,"y":551,"z":"8438164b.7bc7e8","wires":[["a58a806e.5a758"]]},{"id":"7c3768ad.668c8","type":"function","name":"Set Header","func":"msg.headers  = {\"Authorization\": \"Digest username=\\\"steve\\\", realm=\\\"Please enter Username and Password!\\\", nonce=\\\"gkK6TuWHewXwZjeKxsMeQtGf\\\", uri=\\\"/parameter.json\\\", response=\\\"e2e7318a667ea3d2cdd502208578bca0\\\"\"} \n\nreturn msg;","outputs":1,"x":260,"y":703,"z":"8438164b.7bc7e8","wires":[[]]},{"id":"a58a806e.5a758","type":"function","name":"Decode WCM-COM","func":"msg.payload = msg.payload.telegramm;\n\nwhinfo = {};\n\n\nwhinfo[\"[10,0,1,2572,0,0].name\"] = \"AussentempAvg\";\nwhinfo[\"[10,0,1,2572,0,0].type\"] = \"TEMP\"; \n\nwhinfo[\"[10,0,1,2,0,0].name\"] = \"Waermeanforderung\";\nwhinfo[\"[10,0,1,2,0,0].type\"] = \"TEMP\"; \n\nwhinfo[\"[10,0,1,12,0,0].name\"] = \"Aussentemp\";\nwhinfo[\"[10,0,1,12,0,0].type\"] = \"TEMP\"; \n\nwhinfo[\"[10,0,1,14,0,0].name\"] = \"Warmwasser\";\nwhinfo[\"[10,0,1,14,0,0].type\"] = \"TEMP\"; \n\nwhinfo[\"[10,0,1,138,0,0].name\"] = \"Laststellung\";\nwhinfo[\"[10,0,1,138,0,0].type\"] = \"VALUE\"; \n\nwhinfo[\"[10,0,1,373,0,0].name\"] = \"Betriebsphase\";\nwhinfo[\"[10,0,1,373,0,0].type\"] = \"VALUE\"; \n\nwhinfo[\"[10,0,1,3101,0,0].name\"] = \"Vorlauftemp\";\nwhinfo[\"[10,0,1,3101,0,0].type\"] = \"TEMP\"; \n\nwhinfo[\"[10,0,1,325,0,0].name\"] = \"Abgastemp\";\nwhinfo[\"[10,0,1,325,0,0].type\"] = \"TEMP\"; \n\nfor(var i = 0; i < msg.payload.length; i++) {\n    var obj = msg.payload[i];\n    var idx = \"[\"+obj[0]+\",\"+obj[1]+\",\"+obj[2]+\",\"+obj[3]+\",\"+obj[4]+\",\"+obj[5]+\"]\";\n    \n    var oname = whinfo[idx+\".name\"];\n    var otype = whinfo[idx+\".type\"];\n    \n    if ((oname !== undefined) && (otype !== undefined)) {\n        nmsg = {};\n        nmsg.topic = msg.topic + \"/\" + oname;\n        switch (otype) {\n            case \"TEMP\":\n                var temp;\n                temp = (obj[6] + obj[7]*256) / 10;\n                nmsg.payload = temp;\n                break;\n            case \"VALUE\":\n                var value;\n                value = (obj[6] + obj[7]*256);\n                nmsg.payload = value;\n                break;\n        }\n        // node.warn(nmsg)\n        node.send(nmsg);\n    }\n}\n\nreturn null;","outputs":"1","noerr":0,"x":623,"y":480,"z":"8438164b.7bc7e8","wires":[["293afd33.d6c502","5b58a45.fa4a75c"]]},{"id":"d2711b39.2d8ee8","type":"comment","name":"Unused stuff","info":"","x":232,"y":665,"z":"8438164b.7bc7e8","wires":[]}]
